.main{
    background: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}
.card{
    padding: 2%;
    align-items: center;
    background-color: rgba(101, 139, 219, 0.5);
    border-radius: 20%;
    color: rgb(0,0,0);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}
.button-details{
    background-color: rgba(27, 40, 39, 0.5);
    border-radius: 8px;
    width: 140px;
    height: 40px;
    border-width: 0;
}
.button-details:hover{
    background: transparent;
    border-width: 2px;
    border-color: rgba(27, 40, 39, 0.5);
}